<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
<div class="sitepage">
    
  
    
    <section class="section1">
        <div class="container">
            <h1>Welcome <%=tokendata.username%></h1>
            <div class="container1">
                <div class="row">
                 <div class="column">
                     <a  class="homea" href="/logout">Logout</a>
                 </div>
                 <div class="column">
                     <a  class=" homea" href="/profile">Back to Profile</a>
                 </div>
                 <div class="column">
                    <a class="homea" href="/tasklist">Task Lists</a>
                 </div>
                </div>
                
             </div>
    
            
        </div>
    </section>
    <footer></footer>

</div>
   



</body>
</html>