<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/tasks.css">
</head>
<body>
    <div class="sitepage">
        <header> <center><div><a class="home_tag"href="http://localhost:9002/home">Back To Home Page</a></div></center>
        <br><br></header>
        <div class="container">
            <section class="section1">
                <div class="container1">
                    <table border=1>
                        <caption>TASK LISTS</caption>
                        <tr>
                            <td> <a class="task" href="/html_task/tictactoe.html">Tic Tac Toe</a></td>
                            <td> <a class="task" href="/html_task/color_cube_task-2.html">Color Cube</a></td>
                            <td> <a class="task" href="/html_task/dom_nodes.html">Dom Nodes</a></td>
                            <td> <a class="task" href="/html_task/domevents.html">Dom Events</a></td>

                        </tr>
                        <tr>
                            <td> <a class="task" href="/html_task/employee_form.html">Employee Form</a></td>
                            <td> <a class="task" href="/hello_world">Hello World</a></td>
                            <td> <a class="task" href="http://localhost:9002/maintask2">Create Combo Nodes</a></td>
                            <td> <a class="task" href="http://localhost:9002/maintask3">Data Grid Task</a></td>

                        </tr>
                        <tr>
                            <td> <a class="task" href="/maintask4">Searching</a></td>
                            <td> <a class="task" href="/task6">Crud Operations</a></td>
                            <td> <a class="task" href="http://localhost:9002/task5?sort=first_name&order=asc">Sorting</a></td>
                            <td> <a class="task" href="/html_task/job_form.html">Job Form</a></td>

                        </tr>
                    </table>
                </div>
            </section>
        </div>
    </div>
</body>
</html>